.csswork{
    border-right: 3px solid  rgb(108, 158, 112);
    display: inline-block;
    margin-right:20px;
}
#tabel tr,td{
    border: 1px solid  rgb(108, 158, 112);
    background-color: rgb(184, 233, 188);    
}

